---
layout: default
---
{%- assign blog_post_count = 0 -%}
{%- for post in site.posts -%}
  {%- assign is_book = false -%}
  {%- if post.categories contains 'books' or post.tags contains 'books' -%}
    {%- assign is_book = true -%}
  {%- endif -%}
  {%- unless is_book -%}
    {%- assign blog_post_count = blog_post_count | plus: 1 -%}
  {%- endunless -%}
{%- endfor -%}
{%- assign project_list = site.projects | reject: "published", false | sort: "title" -%}
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="home-intro">
    {{ content }}
  </div>

  {%- if project_list.size > 0 -%}
    <h2 class="posts-heading">Projects</h2>
    <div class="post-grid">
      {%- for project in project_list -%}
        {% include teaser-card.html item=project index=forloop.index %}
      {%- endfor -%}
    </div>
  {%- endif -%}

  {%- if blog_post_count > 0 -%}
    <h2 class="posts-heading">Posts</h2>
    <div class="post-grid">
      {%- for post in site.posts -%}
        {%- assign is_book = false -%}
        {%- if post.categories contains 'books' or post.tags contains 'books' -%}
          {%- assign is_book = true -%}
        {%- endif -%}
        {%- unless is_book -%}
        {% include teaser-card.html item=post index=forloop.index %}
        {%- endunless -%}
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>
